<form action="/predict" method="post">

Gender (0/1): <input name="gender"><br>
Married (0/1): <input name="married"><br>
Dependents: <input name="dependents"><br>
Education (0/1): <input name="education"><br>
Self Employed (0/1): <input name="self_employed"><br>

Applicant Income: <input name="applicant_income"><br>
Coapplicant Income: <input name="coapplicant_income"><br>
Loan Amount: <input name="loan_amount"><br>
Loan Term: <input name="loan_term"><br>
Credit History (0/1): <input name="credit_history"><br>
Property Area (0/1/2): <input name="property_area"><br>

<button type="submit">Predict</button>
</form>