<!DOCTYPE html>
<html>

<head>
    <title>Analyst Dashboard</title>
</head>

<body>

<h1>Analyst Dashboard</h1>

<h2>Welcome {{ username }}</h2>

<hr>

<h3>Prediction Statistics</h3>

<p><strong>Total Predictions:</strong> {{ total }}</p>

<p><strong>Approved Loans:</strong> {{ approved }}</p>

<p><strong>Rejected Loans:</strong> {{ rejected }}</p>

<p><strong>Approval Rate:</strong> {{ approval_rate }}%</p>

<hr>

<h3>Recent Predictions</h3>

<table border="1">

<tr>
    <th>Officer</th>
    <th>Income</th>
    <th>Loan Amount</th>
    <th>Prediction</th>
    <th>Date</th>
</tr>

{% for prediction in recent_predictions %}

<tr>

    <td>{{ prediction.user.full_name }}</td>

    <td>{{ prediction.applicant_income }}</td>

    <td>{{ prediction.loan_amount }}</td>

    <td>{{ prediction.prediction }}</td>

    <td>{{ prediction.prediction_date }}</td>


</tr>
<br><br>

<a href="{{ url_for('export_csv') }}">
    <button>📥 Export CSV</button>
</a>
{% endfor %}

</table>

<br><br>

<a href="{{ url_for('logout') }}">
    <button>Logout</button>
</a>

</body>
</html>