<!DOCTYPE html>
<html>

<head>
    <title>Manage Users</title>
</head>

<body>

<h1>Manage Users</h1>

<table border="1">

<tr>

    <th>ID</th>

    <th>Full Name</th>

    <th>Email</th>

   <th>Role</th>
   <th>Action</th>
<th>Change Role</th>

</tr>

{% for user in users %}

<tr>

    <td>{{ user.id }}</td>

    <td>{{ user.full_name }}</td>

    <td>{{ user.email }}</td>

    <td>{{ user.role }}</td>

<td>

{% if user.role != "admin" %}

<a href="{{ url_for('delete_user', user_id=user.id) }}"
   onclick="return confirm('Are you sure you want to delete this user?');">
    <button>Delete</button>
</a>

{% if user.role == "officer" %}

<a href="{{ url_for('change_role', user_id=user.id, role='analyst') }}">
    <button>Make Analyst</button>
</a>

{% elif user.role == "analyst" %}

<a href="{{ url_for('change_role', user_id=user.id, role='officer') }}">
    <button>Make Officer</button>
</a>

{% else %}

Admin

{% endif %}

</td>
</a>

{% else %}

Admin

{% endif %}

</td>

</tr>

{% endfor %}

</table>

<br>

<a href="{{ url_for('admin_dashboard') }}">
    <button>Back</button>
</a>

</body>

</html>